👋  Hey there committers and reviewers! Here are the artifacts from {{ .srcBranch }} ({{ .commit }}):

* Docker Image ([{{ .image }}]({{ .imageUrl }}))
* Helm chart ([{{ .chart }}]({{ .chartUrl }}))
* Python Module ([{{ .pymod }}]({{ .pymodUrl }}))

Wanna deploy this change? Copy the script below to a test system. Make rocket go now! 🌮 🚀

<details>
<summary>{{ .chartName }} Deploy Script</summary>

```
# script #
```

</details>
